* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans" ,"Garuda" ,"Verdana" ,"Tahoma", sans-serif;
    /* background-image: url(/img/signup_bg.jpg); */
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ff5500;
}

.sign-up-container {
    /* max-height: 100vh; */
    /* margin: auto; */
    background-color: #f2f2f2;
}

.sign-up-content {
    padding: 50px;
}

.sign-up-form h2 {
    /* border: 1px solid #111; */
    text-align: center;
    padding: 20px 0px 10px;
}

.form-input {
    width: 100%;
    padding: 15px 20px 15px;
    margin-top: 15px;
    font-size: 16px;
    outline: none;
    border: none;
}

.form-input:focus,
.form-input:hover {
    outline: 1px solid #ff5500;
}

.agree-term-link a, .log-in-here-link a, 
.agree-term-link a:hover, .login-here-link a:hover {
    color: #ff5500;
    text-decoration: none;
}

.agree-term-text, .agree-term-link {
    display: inline;
}

.sign-up-form .form-group input[type="submit"] {
    color: #fff;
    background-color: #ff5500;
}

.sign-up-form .form-group input[type="submit"]:hover {
    color: #111;
    background-color: #fff;
    outline: 1px solid #ff5500;
} 

.sign-up-form .form-group input[type="submit"] {
    color: #fff;
    background-color: #ff5500;
}

.agree-term-text, .agree-term-link,
.login-here-text, .login-here-link {
    margin-top: 20px;
}

/* For mobile */

@media sreen and (max-width:500px) {

}
